.parent-block {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    background-color: rgba(176, 196, 222, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #b0c4de;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 65%;
        box-shadow: 4px 4px 5px #2c2c2d;

        .todo-list {
            padding: 30px 20px 0px;
            margin-top: 5vh;

            h1 {
                font-family: "Merriweather", serif;
                position: relative;
                color: black;
                font-size: 50px;
                font-weight: normal;
                padding: 8px 20px 7px 20px;
                border-top: 4px solid;
                border-left: 4px solid;
                margin: 0;
                line-height: 1;

                &:before {
                    content: "";
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    top: -28px;
                    left: -28px;
                    border: 4px solid black;
                    box-sizing: border-box;
                }
            }
        }
        .wrapper {
            width: 90%;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
    .parent-block {
        .box {
            width: 100%;
            box-shadow: unset;

            .todo-list {
                padding: 0;
                margin-left: 10px;
            }
        }
    }
}
